nav[class~="navbar"]{
    background-color: var(--black) !important;
    z-index: 10;
}

a[class~="nav-link"]{
    color: white !important;
    font-weight: bolder !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 10rem !important;
    text-align: center !important;
}

a.nav-link:hover{
    color: var(--purple) !important;
    background-color: var(--yellow);
    border-radius: 10rem;
}

.navbar-brand{
    color: var(--yellow) !important;
}

.navbar-toggler{
    background-color: var(--yellow);
    box-shadow: none;
}

#userMessage{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}

#userEmail{
    color: var(--yellow);
}

.fa-right-to-bracket{
    scale: 2;
    color: var(--yellow);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.btn{
    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid var(--black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-weight: bolder;
  }
  
.btn:hover{
    background-color: var(--black);
    color: var(--yellow);
    border: 1px solid var(--yellow);
}
  
.btn:active{
    transform: scale(0.95);
    background-color: var(--black);
    color: var(--yellow);
    box-shadow: none;
}
  
.btn:focus{
    box-shadow: none;
}