nav[class~="navbar"]{
    background-color: var(--black) !important;
}

a[class~="nav-link"]{
    color: white !important;
    font-size: 2rem !important;
    font-weight: bolder !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 10rem !important;
    text-align: center !important;
}

a.nav-link:hover{
    color: var(--purple) !important;
    background-color: var(--yellow);
    border-radius: 10rem;
}

.navbar-brand{
    color: white;
    font-size: 2rem;
    padding: 0;
}

.navbar-toggler{
    background-color: var(--yellow);
    box-shadow: none;
}