.btn{
    background-color: var(--black);
    color: var(--yellow);
    border: 1px solid var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
.btn:hover{
    background-color: var(--yellow);
    color: var(--black);
    border: 1px solid var(--yellow);
}
  
.btn:active{
    transform: scale(0.95);
    background-color: var(--black);
    color: var(--yellow);
    box-shadow: none;
}
  
.btn:focus{
    box-shadow: none;
}