div[class~="d-flex col-lg-6"], .card-text{
    height: 100%;
    color: white;
    text-align: left;
    font-weight: bold;
}

div[class~="card"]{
    background-color: var(--black);
    border: none;
}

h5.card-title{
    color: var(--yellow);
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
}

h5.mini-card-title{
    color: white;
    color: var(--yellow);
}

.mini-card-text{
    color: white;
    font-weight: bold;
}