h1.play_title, h2.play_subtitle {
    font-weight: bold;
    color: var(--yellow);
    text-transform: uppercase;
    text-align: center;
}

.play_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

#refresh:hover{
    cursor: pointer;
    scale: 3.2;
    transition: 0.2s;
}

#user_points{
    color: white;
}

#points{
    color: #196EEF;
}

.who_pokemon_imagen{
    position: relative;
    top: 52%;
    right: 12%;
    filter: contrast(0%) brightness(0%);
    transition: 0.3s ease-in-out;
}

.who_pokemon_imagen_correct{
    position: relative;
    top: 52%;
    right: 12%;
    filter: contrast(100%) brightness(100%);
}

.who_pokemon_card{
    background-color: #F2F3F4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    z-index: 1;
}

.who_pokemon_check_button{
    background-color: #ee1515;
    border-radius: 0.8rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2rem !important;
}

.who_pokemon_check_button:hover{
    background-color: #f00000;
    transition: 0.2s;
}

.who_pokemon__ng_button{
    background-color: #196EEF;
    border-radius: 0.8rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8rem;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2rem !important;
}

.who_pokemon__ng_button:hover{
    background-color: rgb(34, 123, 248);
    transition: 0.2s;
}

.who_pokemon_hint{
    grid-area: 3 / 1 / 4 / 3;
    background-color: var(--black);
    color: var(--yellow);
    transition: 0.2s;
    border: none;
}

.who_pokemon_hint:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
}

.pokemon_types_hint{
    width: 100px;
    height: 100px;
    display: none;
}

p.who_pokemon_hint_text{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}

p.who_pokemon_hint_title{
    color: var(--yellow);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
}

.correct{
    background-color: green;
    color: var(--black);
}

.incorrect{
    display: none;
    color: var(--black);
}

#wrong_check{
    background-color: #ee1515;
    color: white;
    border-radius: 5%;
    display: none;
}

#correct_check{
    background-color: lightgreen;
    color: var(--black);
    border-radius: 5%;
    display: none;
}

.who_pokemon_input{
    color: var(--black);
    padding: 0.8rem;
    z-index: 10;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.2rem !important;
}

.who_pokemon_input:focus{
    outline: none;
}