:root{
  box-sizing: border-box;

  --black: #0C0E12;
  --yellow: #FECA1B;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  background-color: var(--black);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn{
  background-color: var(--black);
  color: var(--yellow);
  border: 1px solid var(--black);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover{
  background-color: var(--yellow);
  color: var(--black);
  border: 1px solid var(--yellow);
}

.btn:active{
  transform: scale(0.95);
  background-color: var(--black);
  color: var(--yellow);
  box-shadow: none;
}

.btn:focus{
  box-shadow: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}