h1{
    color: var(--yellow);
    font-family: Gotham;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="email"], input[type="password"]{
    background-color: var(--black);
    color: white;
    font-family: Gotham;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 1rem;
    border: 1px solid var(--yellow);
}

input[type="email"]:focus, input[type="password"]:focus{
    box-shadow: none;
    border-color: var(--yellow);
}

i:hover{
    cursor: pointer;
}

button[type="submit"]:active{
    transform: scale(0.95);
    background-color: var(--black) !important;
    color: var(--yellow);
    box-shadow: none;
}